body {
    background-color: #BBFBFC;
}

h1 {
    text-align: center;
    font-size: 64px;
    color: rgb(255, 255, 255);
    font-family: Lato, Helvetica, Arial, sans-serif;
}

h2 {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

p {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.note {
    font-style: italic;
    font-size: 14px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
    color: #07999C;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 10px;
}

.commissions-link {
    font-size: 24px;
    color: #07999C;
}

.discord-icon {
    width: 125px;
    height: 125px;
    margin-right: 14px;
}

.discord-text {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 30px;
}

.discord-div {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-left: 14px;
}

button:hover {
    transition: 0.3s;
    opacity: 0.7;
    color: #09C5C8;
    cursor: pointer;
}

button:active {
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
    color: #63F5F8;
}