body {
    background-color: rgb(53, 53, 227);
}

h1 {
    text-align: center;
    font-size: 64px;
    color: rgb(255, 255, 255);
    font-family: Lato, Helvetica, Arial, sans-serif;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: Lato, Helvetica, Arial, sans-serif;
}

p {
    color: rgb(255, 255, 255);
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.note {
    font-style: italic;
    font-size: 14px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
    color: rgb(46, 207, 191);
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 10px;
}

.commissions-link {
    font-size: 24px;
    color: rgb(255, 255, 255)
}

.discord-icon {
    width: 125px;
    height: 125px;
    margin-right: 14px;
}

.discord-text {
    color: rgb(255, 255, 255);
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 30px;
}

.discord-div {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-left: 14px;
}