body {
    background-color: #BBFBFC;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

h2 {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

p {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1;
}

.note {
    font-style: italic;
    font-size: 14px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
    color: #07999C;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 10px;
}

.hackclub-link {
    font-size: 24px;
}

.TerraRush, .Commissions {
    font-size: 15px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    border: 2px solid #000;
    background-color: #07999C;
    font-weight: bold;
}

.TerraRush:hover, .Commissions:hover {
    transition: 0.3s;
    opacity: 0.7;
    color: #09C5C8;
    cursor: pointer;
}

.TerraRush:active, .Commissions:active {
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
    color: #63F5F8;
}

.place-image {
    background-size: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    width: 294px;
    height: 196px;
}

.place-text {
    margin-left: 10px;
    color: white;
}

.black-text {
    color: rgb(0, 0, 0);
}

.antartica-image {
    background-image: url('assets/antartica.jpg');
}

.alaska-image {
    background-image: url('assets/alaska.jpeg');
}

.italy-image {
    background-image: url('assets/italy.jpg');
}

.belgium-image {
    background-image: url('assets/belgium.jpg');
}

.south-korea-image {
    background-image: url('assets/southkorea.jpg')
}