body {
    background-color: #BBFBFC;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

h2 {
    font-family: Lato, Helvetica, Arial, sans-serif;
}

p {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1;
}

.note {
    font-style: italic;
    font-size: 14px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
    color: #07999C;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 10px;
}

button {
    margin: 10px;
    background-color: #07999C;
    border-color: black;
    border-radius: 24px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-family: Lato, Arial, Helvetica, sans-serif
}