body {
    background-color: rgb(53, 53, 227);
}

h1 {
    text-align: center;
    font-size: 64px;
    color: rgb(255, 255, 255);
    font-family: Lato, Helvetica, Arial, sans-serif;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: Lato, Helvetica, Arial, sans-serif;
}

p {
    color: rgb(255, 255, 255);
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1;
}

.note {
    font-style: italic;
    font-size: 14px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
    color: rgb(178, 112, 146);
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 10px;
}


/* The divs of each individual projects */
.project-div {
    display: flex;
    width: 10px;
    height: 50px;
}

/* The div that holds the divs for the individual projects */
.project-holder {
    display: flex;
}